.ProfileCard {
  box-shadow: 5px 5px 20px 5px rgba(56, 56, 56, 0.75);
  position: relative;
  padding: 30px 20px;
  background: #fff;
  border-radius: 4px;
  cursor: default;
  opacity: 0.9;
  text-align: center;
  transform-origin: 50% 50%;
}

.ProfileCard__header {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.ProfileCard__avatar {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.ProfileCard__avatar:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: -20px;
  width: calc(100% + 40px - 40px);
  height: 1px;
  z-index: -1;
  margin: 0 20px;
  background: #c8cccf;
}

.ProfileCard__avatar-img {
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  box-shadow: 0 0 0 20px #ffffff;
  width: 110px;
}

.ProfileCard__fullName {
  font-size: 30px;
  letter-spacing: 3px;
  margin-bottom: 5px;
  color: #313f47;
  line-height: 1.5;
  font-weight: bold;
}

.ProfileCard__title {
  margin-bottom: 30px;
  font-weight: 300;
}

.ProfileCard__links {
  display: flex;
  justify-content: center;
}

.ProfileCard__link {
  margin: 0 5px;
}

.ProfileCard__link-icon {
  text-decoration: none;
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: solid 1px #c8cccf;
  line-height: 30px;
  overflow: hidden;
  text-align: center;
  text-indent: 30px;
  white-space: nowrap;
  color: gray;
  transition: all 0.4s;
}

.ProfileCard__link-icon:before {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  font-size: 16px;
  line-height: inherit;
  text-align: center;
  text-indent: 0;
}

.ProfileCard__link-icon:hover {
  border-color: transparent;
  color: white;
}

.ProfileCard__link-icon.fa-twitter:hover {
  background-color: #1DA1F2;
}

.ProfileCard__link-icon.fa-github:hover {
  background-color: #25292E;
}

.ProfileCard__link-icon.fa-linkedin:hover {
  background-color: #0077B5;
}

.ProfileCard__link-icon.fa-envelope:hover {
  background-color: #DB4437;
}
