.Tag {
  display: inline-block;
  padding: 5px 10px;
  margin: 2px;
  background-color: #273750;
  border-radius: 3px;
  font-size: 12px;
}

.Tag__icon {
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.Tag__text {
  color: white;
  vertical-align: middle;
}
